### Builds ###
target/

### Rust ###
# rustfmt
**/*.rs.bk
#MSVC
*.pdb

### IntelliJ IDEA project files ###
.idea/
*.iws
*.ipr
*.iml

### Eclipse project files ###
.project
.classpath
.settings/

### Claude
.claude/
.mcp.json
